<h1>Add Event</h1>

<form method="post">
    <label>Event Name: <input name="name" type="text" /></label>
    <label>Description: <input name="description" type="text" /></label>
    <input type="submit" value="Add Event" />
</form>